@font-face {
   font-family: "Omnes Cond";
   src: url("fonts/Omnes Cond Bold.woff") format("woff"), url("fonts/Omnes Cond Bold.eot") format("embedded-opentype"), url("fonts/Omnes Cond Bold.ttf") format("truetype"), url("fonts/Omnes Cond Bold.svg") format("svg");
   font-weight: bold;
   font-style: normal;
}